{{ define "main" }}
<div class="content">
  <h1>{{ .Title }}</h1>

  <p class="term-description">
    {{ .Params.description | default (printf "%d posts in category \"%s\"" (len .Pages) .Title) }}
  </p>

  <!-- Posts List -->
  {{ $filteredPages := where .Pages "Section" "!=" "projects" }}
  {{ $projectsInList := where (where .Pages "Section" "projects") "Params.showInPostList" true }}
  {{ $allPages := union $filteredPages $projectsInList }}
  {{ $sortedPages := $allPages.ByDate.Reverse }}
  {{ if $sortedPages }}
  <ul class="home-list">
    {{ range $sortedPages }}
    <li class="home-list-div">
      <a href="{{ .RelPermalink }}" class="home-list-link">
        <span class="home-list-date">{{ .Date | time.Format ":date_medium" }}</span>
        {{ if .Params.main_image }}
        <div class="home-list-image" style="background-image: url('{{ .Params.main_image }}');"></div>
        {{ end }}
        <div class="home-list-content">
          <div class="home-list-meta">
            {{ if eq .Section "projects" }}
            <span class="home-list-project-badge">PROJECT</span>
            {{ end }}
            <span class="home-list-duration">{{ .ReadingTime }} min read</span>
          </div>
          <h3 class="home-list-title">{{ .LinkTitle }}</h3>
          {{ if .Summary }}
          <p class="home-list-summary">{{ .Summary }}</p>
          {{ end }}
          {{ with .GetTerms "categories" }}
          <div class="home-list-tags">
            {{ range . }}
            <span class="home-list-tag">{{ .LinkTitle }}</span>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <p class="no-posts">No posts found in this category.</p>
  {{ end }}
</div>
{{ end }}
