{{ define "main" }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<div align="center" class="date">
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -
  <span> {{.ReadingTime}} minute read</span> -
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</div>
<h1 align="center">{{ .Title }}</h1>
<p align="center" class="summary">{{.Summary}}</p>

<div align="center">
  <img class="main-image" src="{{ .Params.main_image }}" alt="{{ .Title }}">
</div>

<div class="post-content">
  {{ .Content }}
</div>
{{ end }}
