<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}

{{ if site.Params.accentColor }}
<style>
  :root {
    --accent-color: {{ site.Params.accentColor }};
  }
  {{ if site.Params.accentColorDark }}
  [data-theme="dark"] {
    --accent-color: {{ site.Params.accentColorDark }};
  }
  {{ end }}
</style>
{{ end }}

{{ template "_internal/google_analytics.html" . }}

{{ partialCached "head/js.html" . }}
